<div class="hero bg-base-200">
    <div class="hero-content flex-col">
        <h1 class="text-3xl lg:text-5xl font-bold mt-10 px-4 text-center">Getting Started</h1>
        <h1 class="text-2xl font-bold lg:text-3xl px-4">in Tides of Change</h1>
        <p class="max-w-6xl mb-4 text-center">
            This quick start guide will help you jump right into Tides of Change as fast as possible! Take a moment to imagine the type of person you want your character to be. 
            Do you want them to be a courageous warrior? Maybe they’re a farmer who provides food for his close friends and family. 
            Or perhaps you would like to play an ingenuitive engineer or crafty scavenger. 
            <em>Craft a story that best fits the type of character you would like to play.</em>
        </p>
    </div>
</div>
