<div class="hero bg-base-200">
    <div class="hero-content flex-col xl:text-lg">
        <h1 class="text-3xl lg:text-5xl font-bold mt-10 px-4 text-center">Getting Started</h1>
        <p>
            This quick start guide will help you jump right into Tides of Change as fast as possible! 
        </p>
        <p>
            Take a moment to imagine the type of person you want your character to be. 
            Do you want them to be a courageous warrior? Maybe they’re a farmer who provides food for his close friends and family. 
            Or perhaps you would like to play an ingenuitive engineer or crafty scavenger. 
        </p>
        <p>
            Craft a story that best fits the type of character you would like to play.
        </p>
    </div>
</div>
