<div class="grid gap-4 text-center px-4">
    <h2 class="text-2xl sm:text-3xl xl:text-4xl font-bold text-center">Explore Further</h2>
    <p class="max-w-4xl mb-4 xl:text-lg">
        If you want to dive deeper into the rules, setting, and lore of Tides of Change, check out the Handbook for the full game experience and detailed guidance.
        Alternatively, head over to the Character Creator to bring your ideas to life and prepare for your adventure!
    </p>
    <div class="flex gap-4 flex-col md:flex-row justify-center items-center">
        <div class="card bg-base-100 shadow-sm max-w-96 text-left">
            <div class="card-body">
                <h2 class="card-title">Official Handbook</h2>
                <p>
                    Explore the full Tides of Change Handbook for detailed rules, gameplay guidance, tips for both players and game masters, and to immmerse yourself in the rich lore of the world.
                </p>
                <a role="button" href="https://tidesofchange.github.io/docs/" target="_blank" rel="noreferrer" class="btn btn-primary mt-2">View the Handbook</a>
            </div>
        </div>
        <div class="card bg-base-100 shadow-sm max-w-96 text-left">
            <div class="card-body">
                <h2 class="card-title">Character Creator</h2>
                <p>
                    Get straight into the action by building your custom character with the Character Creator tool. Choose species, background, attributes, and skills to bring your unique persona to life.
                </p>
                <a role="button" href="/home/character-creator" class="btn btn-primary mt-2">Create a Character</a>
            </div>
        </div>
    </div>
</div>