<footer class="bg-base-200 footer footer-horizontal footer-center p-10">
  <aside>
    <p class="logo font-bold text-2xl lg:text-3xl">
      Tides of Change
    </p>
    <p>University of California, San Diego</p>
    <p>SYN 100 2024–2025</p>
  </aside>
  <!-- TODO: Revisit including social links at end of quarter -->
  <!-- <nav>
    <div class="grid grid-flow-col gap-4">
      <a
        href="https://www.reddit.com/r/Tides_of_Change/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Reddit"
      >
        <img
          src="/home/images/social/reddit_logo2.png"
          alt="Reddit"
          class="w-8 h-8 hover:opacity-75 transition"
        />
      </a>
    </div>
  </nav> -->
</footer>

