<div class="grid gap-4 text-center px-4 my-8">
    <h2 class="text-2xl sm:text-3xl xl:text-4xl font-bold text-center">Explore Further</h2>
    <p class="max-w-4xl mb-4 xl:text-lg">
        If you want to dive deeper into the rules, setting, and lore of Tides of Change, check out the Handbook for the full game experience and detailed guidance. 
        To learn more about the Synthesis Program at the University of California, San Diego, visit the program page linked below.
    </p>
    <div class="flex gap-4 flex-col md:flex-row justify-center items-center">
        <div class="card bg-base-100 shadow-sm max-w-96 text-left">
            <div class="card-body">
                <h2 class="card-title">Official Handbook</h2>
                <p>
                    Explore the full Tides of Change Handbook for detailed rules, gameplay guidance, tips for both players and game masters, and to immmerse yourself in the rich lore of the world.
                </p>
                <a role="button" href="https://tidesofchange.github.io/docs/" target="_blank" rel="noreferrer" class="btn btn-primary mt-2">View the Handbook</a>
            </div>
        </div>
        <div class="card bg-base-100 shadow-sm max-w-96 text-left">
            <div class="card-body">
                <h2 class="card-title">Synthesis Program</h2>
                <p>
                    Learn more about the Synthesis Program at the University of California, San Diego, and its unique approach to exploring the challenges of our rapidly changing planet.
                </p>
                <a role="button" href="https://seventh.ucsd.edu/synthesis-program/" class="btn btn-primary mt-2">Visit Synthesis Program</a>
            </div>
        </div>
    </div>
</div>