---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="min-h-screen flex flex-col items-center bg-base-200">
    <div class="hero bg-base-200">
      <div class="hero-content flex-col max-w-6xl mb-4 text-center">
          <h1 class="text-3xl lg:text-5xl font-bold mt-10 px-4 text-center">About The Game</h1>
          <p>
            <strong>Tides of Change</strong> was born from the collaborative efforts of students in Synthesis 100 (Engaging with a Changing Planet), 
            a course at the University of California, San Diego that explores themes, challenges, and questions surrounding the climate crisis.
            From Fall 2024 to Spring 2025, over 90 students worked together to develop the game into an interactive and immersive experience rooted in the consequences of climate catastrophe 
            and how civilization survives, adapts, or overcomes in the face of profound environmental change.
          </p>
          <p>
            Tides of Change invites players to explore through an environmental lens, with deep and immersive environments like the sunken village of Karkorte or the storm-ridden islands of the Aeolian Archipelago, 
            unique character backgrounds such as Seed Keepers, Cloudrunners, and Ecotechnicians, and lore rich campaign quests that challenge players to navigate political intrigue, resource scarcity, and the fight for ecological balance.
          </p>
          <p>
            The final game is made publicly available so that players everywhere can join this journey and use collaborative storytelling as a form of climate communication and exploration.
          </p>
      </div>
    </div>
  </section>
</BaseLayout>