---
import BaseLayout from '../layouts/BaseLayout.astro';
import GameDetails from '../components/about/GameDetails.astro'
import QuickLinks from '../components/about/QuickLinks.astro';
---

<BaseLayout>
  <section class="min-h-screen flex flex-col items-center bg-base-200">
    <h1 class="text-3xl lg:text-5xl font-bold mt-14 px-4">About The Game</h1>
    <div class="hero-content flex-col-reverse lg:flex-row-reverse">
      <div class="sm:px-10 lg:px-0">
        <div class="grid gap-4 xl:text-lg">
          <p>
            It is many years into Earth's future. 10,000 AD to be exact. 
            Rising sea levels have submerged much of the planet, and the few remaining land masses suffer from pollution and diminishing resources. 
            Only a few continents remain, with Antarctica, South America, Australia, and Asia completely submerged and evolved into coral reefs. 
          </p>
        </div>
      </div>
    </div>

    <GameDetails />
    <QuickLinks />
  </section>
</BaseLayout>