---
import BaseLayout from '../layouts/BaseLayout.astro';
import CharacterCardsList from "../components/adventure-journal/CharacterCardsList.jsx";
import GameActions from '../components/adventure-journal/GameActions';
import AdventureNotes from "../components/adventure-journal/AdventureNotes.jsx";
---

<BaseLayout>
    <div class="flex bg-base-200">
        <CharacterCardsList client:load />
        <div class="flex flex-col w-1/2">
            <!-- <GameActions client:load /> -->
            <AdventureNotes client:load />
        </div>
    </div>
</BaseLayout>