---
import BaseLayout from '../layouts/BaseLayout.astro';
import Journal from '../components/adventure-journal/Journal.jsx';
---

<BaseLayout>
    <section class="min-h-screen flex flex-col lg:items-center bg-base-200">
        <h1 class="text-3xl lg:text-4xl font-bold mb-4 mt-10 px-4 text-center">Adventure Journal</h1>
        <Journal client:load />
    </section>
</BaseLayout>