---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <article class="max-w-3xl mx-auto p-8 text-white">
    <!-- Page Title -->
    <h1 class="text-5xl font-bold mb-6">Health/Damage Mechanics</h1>

    <!-- Hit Points -->
    
    <h2 class="text-3xl font-semibold mb-2">Hit Points</h2>
        <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
          <li>
            Each species starts with 10 + rank in health hit points.
          </li>
          <li>
            To increase health, players can spend 10XP, no more than 
            once per session, to add their rank in health in additional hit points.
          </li>
        </ul>
    

    <!-- Taking Damage -->
    <h2 class="text-3xl font-semibold mb-3">Taking Action</h2>
    <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
        <li>
            Damage from combat encounters or accidents are determined by rolling a 
            certain number of d6s and adding the attack attribute modifier 
            (Strength or Agility) to the total.
        </li>
        <li>
            hat total is then subtracted from the HP maximum. Amount of d6s are 
            determined by weapon or damage type.
        </li>
      </ul>

    <!-- Attacks -->
    <h2 class="text-3xl font-semibold mb-3">Attacks</h2>
    <p> Attacks come in 2 forms.</p>
    <ul class="list-inside ml-6 mb-10 space-y-2">
        <li>
            Unarmed Attacks
            <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
            <li>
            Should be determined by the force modifier divided by 2, rounded up 
            (eg, with a Strength of 3 and a Force of 2, that’s a +3 modifier, 
            meaning 2 damage).
             </li>
            </ul>

        </li>
        <li>
            Weapon Attacks
            <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
                <li>
                    (Such as a knife or a club) will deal 1 d6 damage. Better or 
                    more lethal weapons (such as a sword or a firearm) might be 2 
                    or 3 d6. Taking a turn to aim or get in a favorable position 
                    could add another d6.
                 </li>
                </ul>
        </li>
    </ul>

    <h2 class="text-3xl font-semibold mb-3">Healing</h2>
    <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
        <li>
            Health can be restored through the use of first aid/med kits, healing 
            spells, and/or rest.

        </li>
        <li>
            Each player always recovers up to their rank in health x3 HP every full sleep.
        </li>
        <li>
            Use of first aid kits require a skill check that determines how much 
            health is restored: for most players and kits, this will be 3 HP for 
            every 5 in a basic medicine check total (minimum 3) (eg. a medicine 
            d20 roll of 12, with a +4 modifier, totalling 16 for the check, would 
            restore 9 HP). Certain improved first aid kits may offer additional 
            healing. First aid kits may only be used until supplies are exhausted, 
            and then must be replenished.
        </li>
        <li>
            A basic medicine check without use of a kit, using whatever improvised 
            supplies are around, restores 1 HP for every 5 in the check total 
            (minimum 1).
        </li>
    </ul>


    <h2 class="text-3xl font-semibold mb-3">Conditions</h2>
    <p>
        Certain conditions may also arise in the game that could impose different 
        damages or penalties. For example, spending a lot of time around a factory 
        emitting heavy emissions might result in respiratory conditions that 
        temporarily decrease your health or strength rank, or getting drugged 
        might temporarily decrease your knowledge rank, or getting blinded by 
        something might temporarily give you disadvantage on skill checks that 
        rely on eyesight, etc. This should be narrative and at the GM’s discretion.
    </p>
    


  </article>
</BaseLayout>