---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <article class="max-w-3xl mx-auto p-8 text-white">
    <!-- Main Title -->
    <h1 class="text-6xl font-bold mb-6">Checks</h1>

    <!-- Subheading -->
    <h2 class="text-2xl font-semibold mb-2">How Do Checks Work in Tides of Change?</h2>
    <p class="mb-4">
        Players will roll a d20 and add relevant modifiers to determine their 
        success in specific checks. Modifiers are determined by ranks in attributes 
        and skills and/or by special talents or abilities based on the descriptions 
        of those abilities.
    </p>
    <p class="mb-4">
        Certain checks with NPCs or opponents might require an opposed check by the 
        GM. For example, your sneakiness vs. their awareness, your force vs theirs in
         a wrestling match, your deception vs. their insight.
    </p>
    <p class="mb-8">
        Some checks might have an advantage or a disadvantage to them, based on 
        specific abilities or conditions in the game, as determined by the GM. For 
        advantages, roll two d20s and take the higher score. For disadvantages, roll 
        two d20s and take the lower score.
    </p>
    <p class="mb-8">
        GMs will determine the success threshold for various checks based on 
        difficulty:
    </p>
    <ul class="list-inside mb-4 space-y-10">
        <li>
          <strong>Example:</strong>
          <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
            <li>1-5: Fail</li>
            <li>6-10: Easy</li>
            <li>11-15: Average</li>
            <li>16-20: Hard</li>
            <li>20-25: Very Hard</li>
          </ul>
        </li>
        <li>
            Ties go to the defender.
        </li>
    </ul>

    <!-- Another Subheading -->
    <h2 class="text-4xl font-semibold mb-2">Die Needed</h2>
    <p class="mb-4">
        Dice needed to play this game consist of a d20 and a few d6s.
    </p>
    <ul class="list-inside mb-4 space-y-2">
      <li>
        <strong>D20s:</strong><li>will be used to make most checks, whether a skill check or combat check. </li>
      </li>
      <li>
        <strong>D6s:</strong> 
        <li>
           will be used to determine damage from combat and how much health is 
           restored with healing.    
        </li>
      </li>
    </ul>
    
  </article>
</BaseLayout>
