---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <article class="max-w-3xl mx-auto p-8 text-white">
    <!-- Page Title -->
    <h1 class="text-5xl font-bold mb-6">Combat Mechanics</h1>

    <!-- Turn Order -->
    
    <h2 class="text-3xl font-semibold mb-2">Turn Order</h2>
        <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
          <li>
            Who acts first goes in order of who has the highest combined 
            agility/reaction modifier
          </li>
          <li>
            In the event of ties, roll a d20 and the higher number goes first.
          </li>
          <li>
            To keep from the same people always going in the same order, though, 
            each new round players may decide to move their turn lower in the order 
            to let other players go before them. This allows for more narrative 
            collaboration.
          </li>
          <li>
            They cannot, however, subvert opponents’ reactions in this way (though 
            the opponent may decide to lower their own turn order).
          </li>
        </ul>
    

    <!-- Turn Actions -->
    <h2 class="text-3xl font-semibold mb-3">Turn Actions</h2>
    <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
        <li>
            Each turn may consist of one combat action (attack or spell), one 
            movement (which includes falling prone, standing up, taking cover, or 
            jumping or climbing onto something), and one skill check.
        </li>
        <li>
            Certain abilities or expertises may allow for multiattack. What can be 
            done in a turn in each of these categories should narratively make sense 
            for the encounter and players’ abilities. There are no strict mechanics for
            movement in this game, but if needed in a combat encounter, multiply the 
            character’s rank in agility by 10 for amount of feet of movement per turn.
        </li>
        <li>
            A player’s turn may also be spent helping another player or preparing 
            to respond to something with a specific trigger determined.
        </li>
      </ul>

    <!-- Example Callout Box -->
    <div class="bg-gray-600 p-4 rounded mb-6">
      <strong class="block mb-2 text-lg">Example</strong>
      <ul class="list-disc list-inside ml-6 mb-1 space-y-2">
        <li>
            I’m going to spend my turn distracting this enemy so that another 
            player can have advantage on their attack, or I’m going to prepare to 
            dodge if I’m targeted by an attack, or I’m going to shoot as soon as 
            this enemy gets within range, or I’m going to take extra time to aim 
            and increase my damage dice by 1.
        </li>
      </ul>
    </div>

    <!-- Attacks & Defense -->
    <h2 class="text-3xl font-semibold mb-3">Attacks</h2>
    <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
        <li>
            For combat attacks, roll a d20 and add the modifier for Force if melee, 
            or Shooting if ranged.

        </li>
        <li>
            A certain amount of d6s (based on weapon or attack type) will be 
            rolled to determine amount of damage the target takes.
        </li>
    </ul>

    <h2 class="text-3xl font-semibold mb-3">Defense</h2>
    <ul class="list-disc list-inside ml-6 mb-10 space-y-2">
        <li>
            Characters have a certain level of defense that an attack check 
            needs to exceed in order to cause damage.

        </li>
        <li>
            A character’s defense starts at a base 10 + their reaction modifier + 
            any additional armor or defense-granting objects. Some characters 
            might have extra dodge or evasion skills based on their abilities.
        </li>
    </ul>


  </article>
</BaseLayout>
