<div
  class="hero min-h-screen"
  style="background-image: url(/src/images/home/hero.webp);"
>
  <div 
    style="background-color: color-mix(in oklab, oklch(0.93 0.0153 90.24) 0%, transparent)" 
    class="hero-overlay bg-linear-to-t/decreasing from-base-200 to-10%">
  </div>
  <div class="hero-content text-center text-neutral-content text-shadow-lg/20">
    <div>
    <h1 class="logo mb-4 text-6xl lg:text-7xl">Tides of Change</h1>
      <p class="mb-8 sm:text-lg lg:text-xl">
        Embark on an adventure into a mysterious realm of possibilities...
      </p>
      <a role="button" class="btn btn-primary lg:btn-lg" href="adventure-journal">
        Start Your Adventure
      </a>
    </div>
  </div>
</div>