---
import { Image } from 'astro:assets';
import frontier from '../../images/home/frontier.webp';
---

<div class="hero bg-base-200 min-h-[40vh] py-4 lg:py-0 lg:pt-8">
  <div class="hero-content flex-col-reverse lg:flex-row-reverse">
    <Image src={frontier} alt="Frontier Headquarters" class="w-full max-w-2xl lg:max-w-xl xl:max-w-2xl" />
    <div class="sm:px-10 lg:px-0">
      <h2 class="text-2xl sm:text-3xl xl:text-4xl font-bold">In Earth's Distant Future</h2>
      <p class="py-4 xl:text-lg">
        <strong>Rising sea levels have submerged much of the planet,</strong> and many of the remaining land masses suffer from pollution and diminishing resources. 
        As the planet rapidly changed the past millennia, so too did its inhabitants. Humans as we think of them today have become a minority on the planet they once dominated. 
        In their stead, myriad new species have evolved to adapt to this ever changing environment. 
      </p>
      <p class="xl:text-lg">
        <strong>Survival is the name of the game for most civilizations,</strong> each experiencing unique challenges (as well as unique joys!). 
        But can these civilizations learn to start working with each other towards a world that allows for more than just day-to-day survival? 
      </p>
      <p class="xl:text-lg pt-4"><em>Can they ride the tides of change into a better future, or will they drown?</em></p>
    </div>
  </div>
</div>