/* CharacterForm.css */
.character-form {
  max-width: 40rem;
  margin: auto;
  text-align: center;
  padding: 1.25rem;
}

.option {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.option:hover {
  border: 2px solid #61dafb;
  background: #f0f8ff;
}

.selected {
  border: 2px solid #61dafb;
  background: #f0f8ff;
}

.button {
  padding: 10px;
  background: #61dafb;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.stats-input {
  width: 50px;
  text-align: center;
}
